<div class="layout-content content-section">
    <div class="card" >
        <app-reception-edit [order]="order$ | async" (orderChanged)="onOrderChange($event)"></app-reception-edit>
    </div>

    <div class="p-md-offset-1 p-fluid p-formgrid p-grid p-ml-1 p-mr-1 card p-ai-center vertical-container">
        <div class="p-field button-div">
            <button pButton pRipple icon="pi pi-check" label="Сохранить"></button>
        </div>
        <div class="p-field button-div">
            <button pButton pRipple icon="pi pi-times" class="p-button-secondary" label="Отменить" (click)="onCancelButtonClick($event)"></button>
        </div>
    </div>
</div>
<p-confirmDialog icon="pi pi-exclamation-triangle"></p-confirmDialog>