<div class="p-fluid p-grid" [formGroup]="formGroup">
    <div class="p-col-6 p-grid p-fluid">
         <label class="control-title p-col-12 p-mb-2 p-md-2 p-mb-md-0">Имя</label>
        <div class="p-col">
            <input type="text" pInputText [formControlName]="formControlNames.firstName" />
        </div>
    </div>
    <div class="p-col-6 p-grid p-fluid">
            <label class="control-title p-col-12 p-mb-2 p-md-2 p-mb-md-0">Фамилия</label>
        <div class="p-col">
            <input type="text" pInputText [formControlName]="formControlNames.lastName" />
        </div>
    </div>
    <div class="p-col-6 p-grid p-fluid">
        <label class="control-title p-col-12 p-mb-2 p-md-2 p-mb-md-0">Отчество</label>
        <div class="p-col">
            <input type="text" pInputText [formControlName]="formControlNames.middleName" />
        </div>
    </div>
    <div class="p-col-6 p-grid p-fluid">
        <label class="control-title p-col-12 p-mb-2 p-md-2 p-mb-md-0">e-mail</label>
        <div class="p-col">
            <input type="text" pInputText [formControlName]="formControlNames.email" />
        </div>
    </div>
    <div class="p-col-6 p-grid p-fluid">
        <label class="control-title p-col-12 p-mb-2 p-md-2 p-mb-md-0">тел.</label>
        <div class="p-col">
            <input type="text" pInputText [formControlName]="formControlNames.phone" />
        </div>
    </div>
</div>
